


<div class="row g-0 justify-content-center align-items-center align-content-center d-flex mx-auto">
  <div class="col-10 mt-5 mb-5">
    <div class="mat-elevation-z8">
      <mat-form-field class="w-100">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ingrese un nombre para buscar" #input>
      </mat-form-field>

      <table mat-table [dataSource]="dataSource">




        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let x"> {{x.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let x"> {{x.name}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Descripcion </th>
          <td mat-cell *matCellDef="let x"> {{x.description}} </td>
        </ng-container>


        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Precio </th>
          <td mat-cell *matCellDef="let x"> ${{x.price}} </td>
        </ng-container>

        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef> Imagen </th>
          <td mat-cell *matCellDef="let x"> {{x.image}} </td>
        </ng-container>


        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Opciones </th>
          <td mat-cell *matCellDef="let x">
            <button mat-raised-button color="primary" (click)="openEditProduct(content,x)">Editar</button>
            <button mat-raised-button color="warn" (click)="removeProduct(x.id)">Eliminar</button>

            <ng-template #content let-modal>
              <div class="modal-header">
                <h4 class="modal-title">ACTUALIZAR TAREA</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <form [formGroup]="actualProduct">
                      <div class="form-group mt-2">
                        <label>ID DE PRODUCTO</label>
                        <fieldset disabled>
                          <input type="number" formControlName="id" placeholder="PRODUCT ID" class="form-control">
                        </fieldset>
                      </div>
                      <div class="form-group mt-2">
                        <label>NOMBRE DEL PRODUCTO</label>
                        <input type="text" formControlName="name" placeholder="NOMBRE" class="form-control">
                      </div>
                      <div class="form-group mt-2">
                        <label>DESCRIPCION</label>
                        <input type="text" formControlName="description" placeholder="DESCRIPCION" class="form-control">
                      </div>
                      <div class="form-group mt-2">
                        <label>PRECIO</label>
                        <input type="text" formControlName="price" placeholder="PRECIO" class="form-control">
                      </div>

                    </form>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark"  (click)="updateProduct(x.id)" >ACTUALIZAR</button>
              </div>
            </ng-template>

          </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20,50]"
                     aria-label="Select page"

                     showFirstLastButtons>

      </mat-paginator>






    </div>
  </div>
</div>
