<div class="row g-0 justify-content-center align-items-center align-content-center d-flex mx-auto">
  <div class="col-10 mt-5 mb-5">
    <button class="m-3 p-3" mat-raised-button routerLink="/admin" color="warn">Volver</button>

    <button (click)="openAddProduct(newProduct)" class="mt-3 mb-3 p-3" color="primary" mat-raised-button>Agregar
      Producto
    </button>

    <ng-template #newProduct let-modal>

      <div class="modal-header">
        <h4 class="modal-title">AGREGAR PRODUCTO</h4>
        <button (click)="modal.dismiss()" aria-label="Close" class="btn-close" type="button"></button>

      </div>

      <div class="modal-body">
        <div class="modal-body">
          <form>
            <div class="form-group">
              <form [formGroup]="newP">
                <div class="form-group mt-2">
                  <label>ID DE PRODUCTO</label>
                  <fieldset disabled>
                    <input class="form-control" formControlName="id" placeholder="PRODUCT ID" type="number">
                  </fieldset>
                </div>
                <div class="form-group mt-2">
                  <label>NOMBRE DEL PRODUCTO</label>
                  <input class="form-control" formControlName="name" placeholder="NOMBRE" type="text">
                </div>
                <div class="form-group mt-2">
                  <label>DESCRIPCIÓN</label>
                  <input class="form-control" formControlName="description" placeholder="DESCRIPCION" type="text">
                </div>
                <div class="form-group mt-2">
                  <label>PRECIO</label>
                  <input class="form-control" formControlName="price" placeholder="PRECIO" type="text">
                </div>

                <div class="form-group mt-2">
                  <label>IMAGEN</label>
                  <input class="form-control" formControlName="image" placeholder="Link" type="text">
                </div>

                <button (click)="addProduct()" class="btn btn-outline-dark mb-2 mt-2" type="button">Agregar</button>

              </form>
            </div>
          </form>
        </div>
      </div>


    </ng-template>

    <div class="mat-elevation-z8">
      <mat-form-field class="w-100">
        <mat-label>Buscar...</mat-label>
        <input #input (keyup)="applyFilter($event)" matInput placeholder="Ingrese un nombre para buscar">
      </mat-form-field>

      <table [dataSource]="dataSource" mat-table>


        <ng-container matColumnDef="id">
          <th *matHeaderCellDef mat-header-cell> ID</th>
          <td *matCellDef="let x" mat-cell> {{x.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell> Nombre</th>
          <td *matCellDef="let x" mat-cell> {{x.name}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th *matHeaderCellDef mat-header-cell> Descripción</th>
          <td *matCellDef="let x" mat-cell> {{x.description}} </td>
        </ng-container>


        <ng-container matColumnDef="price">
          <th *matHeaderCellDef mat-header-cell> Precio</th>
          <td *matCellDef="let x" mat-cell> ${{x.price}} </td>
        </ng-container>

        <ng-container matColumnDef="image">
          <th *matHeaderCellDef mat-header-cell> Imagen</th>
          <td *matCellDef="let x" mat-cell>

            <mat-icon (click)="openImage(image)">image</mat-icon>

            <ng-template #image>
              <div class="modal-header">
                <h4 class="modal-title">Imagen</h4>
              </div>

              <img [src]="x.image" alt="" class="mt-5 mb-5">

            </ng-template>

          </td>


        </ng-container>


        <ng-container matColumnDef="delete">
          <th *matHeaderCellDef mat-header-cell> Opciones</th>
          <td *matCellDef="let x" mat-cell>
            <button (click)="openEditProduct(content,x)" color="primary" mat-raised-button>Editar</button>
            <button (click)="removeProduct(x.id)" class="m-1" color="warn" mat-raised-button>Eliminar</button>

            <ng-template #content let-modal>
              <div class="modal-header">
                <h4 class="modal-title">ACTUALIZAR PRODUCTO</h4>
                <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="btn-close"
                        type="button"></button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <form [formGroup]="actualProduct">
                      <div class="form-group mt-2">
                        <label>ID DE PRODUCTO</label>
                        <fieldset disabled>
                          <input class="form-control" formControlName="id" placeholder="PRODUCT ID" type="number">
                        </fieldset>
                      </div>
                      <div class="form-group mt-2">
                        <label>NOMBRE DEL PRODUCTO</label>
                        <input class="form-control" formControlName="name" placeholder="NOMBRE" type="text">
                      </div>
                      <div class="form-group mt-2">
                        <label>DESCRIPCIÓN</label>
                        <input class="form-control" formControlName="description" placeholder="DESCRIPCION" type="text">
                      </div>
                      <div class="form-group mt-2">
                        <label>PRECIO</label>
                        <input class="form-control" formControlName="price" placeholder="PRECIO" type="text">
                      </div>

                    </form>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button (click)="updateProduct()" class="btn btn-outline-dark" type="button">ACTUALIZAR</button>
              </div>
            </ng-template>

          </td>

        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20,50]"
                     aria-label="Select page"

                     showFirstLastButtons>

      </mat-paginator>


    </div>
  </div>
</div>
