.s-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
}

.sidenav {
  padding: 100px;
}

.card {
  width: 100%;
  max-width: 20rem;
  margin: 0 auto;
  height: 100%;
  border: 2px solid rgba(0, 0, 0, 0.9);
  box-shadow: 5px 5px 2px dimgray;
  transition: .2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}


@media screen and (max-width: 768px) {
  .sidenav {
    padding: 45px;
  }
}
