<mat-toolbar class="bg-dark text-white">
  <span>Shop</span>
  <span class="spacer"></span>

  <div class="textInputWrapper w-50 mx-auto">
    <input class="textInput text-left" placeholder="Busca tus productos aquí" type="text">
  </div>
</mat-toolbar>


<nav>
  <div class="row justify-content-center g-0">
    <div class="col-md-12 col-sm-12">
      <ul class="nav d-flex d-flex justify-content-center ">
        <li class="nav-item m-1">
          <a aria-current="page" class="nav-link active text-dark">Ofertas
            <mat-icon fontIcon="expand_more"></mat-icon>
          </a>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link text-dark">Gaming
            <mat-icon fontIcon="expand_more"></mat-icon>
          </a>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link text-dark">Componentes
            <mat-icon fontIcon="expand_more"></mat-icon>
          </a>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link text-dark">Oficina
            <mat-icon fontIcon="expand_more"></mat-icon>
          </a>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link text-dark">Hogar
            <mat-icon fontIcon="expand_more"></mat-icon>
          </a>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link text-dark">Seguridad
            <mat-icon fontIcon="expand_more"></mat-icon>
          </a>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link text-dark">Audio y Video
            <mat-icon fontIcon="expand_more"></mat-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">

  <div class="row mt-5">
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-3 mt-3">
      <div class="card">
        <img alt="..."
             class="card-img-top" src="https://cdn.discordapp.com/attachments/742158891122688064/1129250069955235903/image.png">
        <div class="card-body">
          <h5 class="card-title">Producto</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
          <a class="btn btn-success border-dark border-3" href="#">Comprar 9.990 CLP</a>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-3 mt-3">
      <div class="card">
        <img alt="..."
             class="card-img-top" src="https://cdn.discordapp.com/attachments/742158891122688064/1129250069955235903/image.png">
        <div class="card-body">
          <h5 class="card-title">Producto</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
          <a class="btn btn-success border-dark border-3" href="#">Comprar 9.990 CLP</a>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-3 mt-3">
      <div class="card">
        <img alt="..."
             class="card-img-top" src="https://cdn.discordapp.com/attachments/742158891122688064/1129250069955235903/image.png">
        <div class="card-body">
          <h5 class="card-title">Producto</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
          <a class="btn btn-success border-dark border-3" href="#">Comprar 9.990 CLP</a>
        </div>
      </div>
    </div>


    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-3 mt-3">
      <div class="card">
        <img alt="..."
             class="card-img-top" src="https://cdn.discordapp.com/attachments/742158891122688064/1129250069955235903/image.png">
        <div class="card-body">
          <h5 class="card-title">Producto</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
          <a class="btn btn-success border-dark border-3" href="#">Comprar 9.990 CLP</a>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-3 mt-3">
      <div class="card">
        <img alt="..."
             class="card-img-top" src="https://cdn.discordapp.com/attachments/742158891122688064/1129250069955235903/image.png">
        <div class="card-body">
          <h5 class="card-title">Producto</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
          <a class="btn btn-success border-dark border-3" href="#">Comprar 9.990 CLP</a>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-3 mt-3">
      <div class="card">
        <img alt="..."
             class="card-img-top" src="https://cdn.discordapp.com/attachments/742158891122688064/1129250069955235903/image.png">
        <div class="card-body">
          <h5 class="card-title">Producto</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
          <a class="btn btn-success border-dark border-3" href="#">Comprar 9.990 CLP</a>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-3 mt-3">
      <div class="card">
        <img alt="..."
             class="card-img-top" src="https://cdn.discordapp.com/attachments/742158891122688064/1129250069955235903/image.png">
        <div class="card-body">
          <h5 class="card-title">Producto</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
          <a class="btn btn-success border-dark border-3" href="#">Comprar 9.990 CLP</a>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-3 mt-3">
      <div class="card">
        <img alt="..."
             class="card-img-top" src="https://cdn.discordapp.com/attachments/742158891122688064/1129250069955235903/image.png">
        <div class="card-body">
          <h5 class="card-title">Producto</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
          <a class="btn btn-success border-dark border-3" href="#">Comprar 9.990 CLP</a>
        </div>
      </div>
    </div>


  </div>


</div>


<footer class="mt-5">
  <div class="row justify-content-center g-0">
    <div class="col-md-4 col-sm-10  mt-3">
      <h5 class="mb-3">Contacto</h5>
      <hr>
      <a class="text-decoration-none text-white" href="https://www.github.com/Alexrmsu" target="_blank">Github</a>

    </div>
    <div class="col-md-4 col-sm-10">

    </div>
  </div>

</footer>

