<mat-toolbar class="bg-dark text-white">
  <span>Tienda</span>
  <span class="spacer"></span>

  <input type="text" class="form-control w-25 mx-auto" placeholder="Busca los mejores productos" aria-label="Search"
         aria-describedby="basic-addon1">
</mat-toolbar>


<mat-drawer-container class="s-container" autosize>

  <mat-drawer #drawer class="sidenav" mode="side">

    <p>INFO DASHBOARD</p>
    <p routerLink="/store">Ver productos</p>

  </mat-drawer>

  <button type="button" mat-button (click)="show(); drawer.toggle()">

    <mat-icon *ngIf="showFiller==false">menu</mat-icon>
    <mat-icon *ngIf="showFiller==true">close</mat-icon>

  </button>


  <div class="row justify-content-center mt-5 g-0">

    <div class="col-6 mb-5">
      <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          producto 1
        </div>
      </div>
    </div>

    <div class="col-6 mb-5">
      <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          producto 2
        </div>
      </div>
    </div>


    <div class="col-6 mt-5 mb-5">
      <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          producto 3
        </div>
      </div>
    </div>

    <div class="col-6 mt-5 mb-5">
      <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          producto 4
        </div>
      </div>
    </div>


  </div>


  <div class="row justify-content-center mt-5 g-0">

    <div class="col-6 mb-5">
      <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          producto 1
        </div>
      </div>
    </div>

    <div class="col-6 mb-5">
      <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          producto 2
        </div>
      </div>
    </div>


    <div class="col-6 mt-5 mb-5">
      <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          producto 3
        </div>
      </div>
    </div>

    <div class="col-6 mt-5 mb-5">
      <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          producto 4
        </div>
      </div>
    </div>


  </div>


  <div class="row justify-content-center mt-5 g-0">

    <div class="col-6 mb-5">
      <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          producto 1
        </div>
      </div>
    </div>

    <div class="col-6 mb-5">
      <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          producto 2
        </div>
      </div>
    </div>


    <div class="col-6 mt-5 mb-5">
      <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          producto 3
        </div>
      </div>
    </div>

    <div class="col-6 mt-5 mb-5">
      <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          producto 4
        </div>
      </div>
    </div>


  </div>


  <div class="row justify-content-center mt-5 g-0">

    <div class="col-6 mb-5">
      <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          producto 1
        </div>
      </div>
    </div>

    <div class="col-6 mb-5">
      <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          producto 2
        </div>
      </div>
    </div>


    <div class="col-6 mt-5 mb-5">
      <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          producto 3
        </div>
      </div>
    </div>

    <div class="col-6 mt-5 mb-5">
      <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          producto 4
        </div>
      </div>
    </div>


  </div>


  <div class="row justify-content-center mt-5 g-0">

    <div class="col-6 mb-5">
      <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          producto 1
        </div>
      </div>
    </div>

    <div class="col-6 mb-5">
      <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          producto 2
        </div>
      </div>
    </div>


    <div class="col-6 mt-5 mb-5">
      <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          producto 3
        </div>
      </div>
    </div>

    <div class="col-6 mt-5 mb-5">
      <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          producto 4
        </div>
      </div>
    </div>


  </div>


  <div class="row justify-content-center mt-5 g-0">

    <div class="col-6 mb-5">
      <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          producto 1
        </div>
      </div>
    </div>

    <div class="col-6 mb-5">
      <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          producto 2
        </div>
      </div>
    </div>


    <div class="col-6 mt-5 mb-5">
      <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          producto 3
        </div>
      </div>
    </div>

    <div class="col-6 mt-5 mb-5">
      <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          producto 4
        </div>
      </div>
    </div>


  </div>


</mat-drawer-container>

<footer>
  <div class="row justify-content-center g-0">
    <div class="col-md-4 col-sm-10  mt-3">
      <h5 class="mb-3">Contacto</h5>
      <hr>
      <a href="https://www.github.com/Alexrmsu" class="text-decoration-none text-white" target="_blank">Github</a>

    </div>
    <div class="col-md-4 col-sm-10">

    </div>
  </div>

</footer>

