
<mat-toolbar class="bg-dark text-white">
  <span>Tienda</span>
</mat-toolbar>


<mat-drawer-container class="s-container" autosize>

  <mat-drawer #drawer class="sidenav" mode="side">

    <p>INFO DASHBOARD</p>

  </mat-drawer>

    <button type="button" mat-button (click)="show(); drawer.toggle()">

      <mat-icon *ngIf="showFiller==false">menu</mat-icon>
      <mat-icon *ngIf="showFiller==true">close</mat-icon>

    </button>

  <div class="row justify-content-center mt-5 g-0">

    <div class="col-6">
      <div class="card">
       <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">

        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card" >
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">

        </div>
      </div>
    </div>



  </div>





</mat-drawer-container>
