.card {
  padding: 1.9rem 1.2rem;
  text-align: center;
  background: #3d3d3d;
  min-width: 450px;
  max-width: 600px;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  border-radius: 10px;
  box-shadow: #3d3838 1px 3px 40px 1px;
}

.bg-login {
  background: #3d3d3d !important;

}


.field {
  margin-top: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
  background-color: #3d3d3d;
  border-radius: 4px;
  padding: .5em 1em;
}

.input-icon {
  height: 1em;
  width: 1em;
  fill: #ffeba7;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
  font-size: 1em;
}

.title {
  margin-bottom: 1rem;
  font-size: 1.5em;
  font-weight: 500;
  color: #f5f5f5;
}

.btn-login {
  margin: 1rem;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: .8em;
  text-transform: uppercase;
  padding: 0.6em 1.2em;
  background-color: #ffeba7;
  color: #5e6681;
  box-shadow: 0 8px 24px 0 rgb(255 235 167 / 20%);
  transition: all .3s ease-in-out;
}


.field input:focus::placeholder {
  opacity: 0;
  transition: opacity .3s;
}

.btn-login:hover {
  background-color: #5e6681;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
}


@media (min-width: 320px) and (max-width: 480px) {
  .card {
    min-width: 320px;
  }
}
